<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{%endblock%}</title>
    <script src = "static\node_modules\axios\dist\axios.js"></script>
    <link rel="stylesheet" href="static\style.css">
</head>

<body >
    <header>
        <div>
            Банкетов. нет
        </div>
        <a href="/register">Регистрация</a>
        <a href="/login">Авторизация</a>
        <a href="/home">Заявки</a>
        <a href="/request">Создать заявки</a>
    </header>
    {%block content%}{%endblock%}
</body>
</html>